<html>
  <head>
    <meta http-equiv="REFRESH" content="10" />
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
    <title>The 16" Telescope at the RAO</title>
  </head>
  <body
    bgcolor="#FFFFCC"
    alink="#000099"
    link="#000099"
    vlink="#990099"
    onload="initialize()"
    onunload="GUnload()"
  >
    <table width="900" border="0">
      <tr valign="top">
        <td style="height: 200px; width: 400px">
          <div style="text-align: center">
            <h1><font color="green">The 16" Telescope at the RAO</font></h1>
          </div>
          <div style="text-align: left">
            <b>Date:</b> 16/12/2021 <b>UT:</b> 21:48:56
            <b>LST:</b> 19:54:47<br />
            * Note: If the time is not updating then the telescope is not
            running.
            <h2><font color="green">Weather</font></h2>
            <b>Temperature:</b> -18.1 C <b>Humidity:</b> 0% <b>Wind Speed</b> 0
            km/h
            <h2><font color="green">Telescope</font> <i>STOPPED</i></h2>
          </div>
          <table
            style="width: 50%; text-align: left"
            border="0"
            cellpadding="0"
            cellspacing="0"
          >
            <tbody>
              <tr>
                <td />
                <td style="vertical-align: center; text-align: center">
                  <a href="telimage.html" target="new"
                    ><img src="../telimage.jpg"
                  /></a>
                </td>
              </tr>
            </tbody>
          </table>
          <br /><br />
        </td>
        <td style="height: 200px; width: 400px; text-align: top">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <table
            style="width: 50%; text-align: left"
            border="1"
            cellpadding="2"
            cellspacing="2"
          >
            <tbody>
              <tr>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Altitude</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Azimuth</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>RA</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>HA</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>DEC</b>
                </td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  50:12:06
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  201:26:55
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  18:59:13.8
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  00:55:32.6
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  12:41:45
                </td>
              </tr>
            </tbody>
          </table>
          <h2><font color="green">Dome</font> <i>STOPPED</i></h2>
          <table
            style="width: 50%; text-align: left"
            border="1"
            cellpadding="2"
            cellspacing="2"
          >
            <tbody>
              <tr>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Azimuth</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Shutter</b>
                </td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  180:0
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">IDLE</td>
              </tr>
            </tbody>
          </table>
          <h2><font color="green">Camera</font></h2>
          <table
            style="width: 50%; text-align: left"
            border="1"
            cellpadding="2"
            cellspacing="2"
          >
            <tbody>
              <tr>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Filter</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Focus</b>
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  <b>Temperature</b>
                </td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  Error
                </td>
                <td></td>
                <td style="vertical-align: center; text-align: center">0.0</td>
                <td></td>
                <td style="vertical-align: center; text-align: center">
                  0.0 C
                </td>
              </tr>
            </tbody>
          </table>
          <br /><br />
        </td>
      </tr>
    </table>
  </body>
</html>
