<!DOCTYPE html PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>The 16" Robotic Telescope at the RAO</title>
  </head>
  <frameset
    cols="150,*"
    FRAMESPACING="0"
    FRAMEBORDER="no"
    BORDER="0"
    BORDERCOLOR="black"
  >
    <frame
      name="menu"
      src="menu.html"
      marginheight="0"
      marginwidth="0"
      FRAMESPACING="0"
      frameborder="no"
      BORDER="0"
      BORDERWIDTH="0"
      BORDERCOLOR="black"
    >
    </frame>
    <frameset
      rows="90,*"
      FRAMESPACING="0"
      FRAMEBORDER="no"
      BORDER="0"
      BORDERCOLOR="BLACK"
    >
      <frame
        name="top"
        src="top.html"
        marginheight="0"
        marginwidth="0"
        FRAMESPACING="0"
        frameborder="no"
        BORDER="0"
        BORDERWIDTH="0"
        BORDERCOLOR="BLACK"
      >
      </frame>
      <frame
        name="page"
        scrolling="auto"
        src="cmt.html"
        FRAMESPACING="0"
        frameborder="no"
        BORDER="0"
        BORDERWIDTH="0"
        BORDERCOLOR="black"
      >
      </frame>
    </frameset>
  </frameset>
</html>
