@import url("variables.css");
html {
    background-color: var(--very-light-grey);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display: auto;
    font-size: var(--font-size);

}
body {
    display: grid;
    grid-template-areas: "header" "time" "main";
    grid-template-rows: minmax(1.6rem, auto), minmax(1.4rem, auto), 1fr;
    gap: 1.1rem;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.2rem;
}
main {
    display: grid;
    grid-template-areas: "weather", "status", "plots";
    grid-template-rows: repeat(auto-fill);
    gap: 0.5rem;
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    gap: 1rem;
}
#plots {
    grid-template-columns: repeat(auto-fill, 30rem);
}
